 header {
     border-radius: 10px;
     background-color: blue;
     text-align: center;
 }

 main {
     background-color: greenyellow;
     margin-right: 5px;
     width: 80%;
     border-radius: 10px;
 }

 h1 {
    margin-block-end: -0.33em;
 }

 aside {
     background-color: goldenrod;
     border-radius: 10px;
     width: 40%;
 }

 footer {
     background-color: red;
     border-radius: 10px;
     margin: 10px;
     text-align: center;
 }

 section {
     display: flex;
 }

 nav {
     background-color: orange;
     margin-bottom: 10px;
     border-radius: 10px;
 }

 nav ul {
     list-style-type: none;
     display: flex;
    margin-block-end: 0em;
 }

 nav ul li {
     display: inline-block;
     margin: 1px;
     padding: 10px 20px;
 }
 p {
    margin-block-start: 0em;
 }